* {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #1f2937;
}

a {
  color: #e5e7eb;
  text-decoration: none;
}

.nav-items-right {
  display: flex;
  gap: 32px;
  list-style: none;
  align-items: center;
  margin-right: 32px;
}

.logo-left {
  display: flex;
  align-items: center;
  margin: 8px 0;
}

.logo-text {
  color: #f9faf8;
  font-size: 24px;
  margin-left: 16px;
}
